*{
    scroll-behavior: smooth;
}


#section-1 {
    border-radius: 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./images/college-bg-img.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    box-shadow: inset 200px 0 400px black;
}

.nav{
    height: 30px;
   
    display: flex;
    justify-content: space-evenly;

}
.nav a{
color: white;
text-decoration: none;
margin-right: -1000px;
margin-top: 10px;
/* font-family: "Madimi One", sans-serif;
 */
 font-family: "DM Sans", sans-serif;
}


h1{
    color:white;
    margin-left: 55px;
    /* font-family: "Madimi One", sans-serif;
     */
     font-family: "DM Sans", sans-serif;
}

.maii{
    margin-top:  100px;
}

#big{
    font-size: 5rem;
    /* font-family: "Madimi One", sans-serif; */
    font-family: "DM Sans", sans-serif;
}
#big-down{
    font-size: 5rem;
    margin-top: -80px;
    /* font-family: "Madimi One", sans-serif; */
    font-family: "DM Sans", sans-serif;
}

pre{
    color: white;
    font-size: 1.5rem;
    margin-top: -20px;
    /* font-family: "Madimi One", sans-serif; */
    font-family: "DM Sans", sans-serif;
}

button{
background-color: #98cb19;
height:3.5rem;
width: 16rem;
margin-left: 80px;
/* font-family: "Madimi One", sans-serif;
 */
 font-family: "DM Sans", sans-serif;
color: white;
font-size: 1.2rem;
border-radius: 50px;
border: 1px solid black;
cursor: pointer;
margin-top: -80px;

}




.nextpage{
    margin-top: 10px;
    height: 100vh;
    background-color: rgb(34, 33, 33);
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;

}

.hru{
    height: 400px;
    width: 300px;
    margin-top: 50px;
    border-radius: 50%;
}
#ff{
    margin-left: 35px;
}

.onee h1{
    margin-left: 100px;
}
#xx{
    margin-right: 35px;
}
.name{
    font-family: "Madimi One", sans-serif;
}
.twoo h1{
    margin-left: 100px;
}


.pp{
    margin-top: -200px;
}
.pp p{
    color: white;
    font-size: 1.35rem;
    width: 90%;
    margin-left: 60px;
    border: 1px solid white;
    height: 120px;
    padding: 15px;
    border-radius: 25px;
    font-family: "Madimi One", sans-serif;
    
}

