<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DSATM College Printing Shop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Madimi+One&family=Open+Sans:ital,wght@1,800&family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Madimi+One&family=Open+Sans:ital,wght@1,800&family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>

<body>
   
        <div id="section-1">

         <div class="nav">
            <a href="#home"> <b>Home</b></a>
            <a href="#next"> <b>About</b></a>
            <a href="/order_history/{{ session['username'] }}"> <b>See History</b></a>
            {% if 'username' in session %}
            <a href="/logout"><b>Logout</b></a>
        {% else %}
            <a href="/login"><b>Login/Signup</b></a>
        {% endif %}
         </div>


         <div class="head"><h1>DSATM</h1></div>



         <div class="maii">
            <h1 id="big"> College </h1>
            <h1 id="big-down">Printing Shop</h1>
         </div>


<div class="parah">
    <pre>
        Get all your printing needs fulfilled at our college
         printing shop. We offer high-quality printing 
         services for students.

        </pre>
</div>

        {% if 'username' in session %}
            <a href="/upload"><button>Place Your order</button></a>
        {% else %}
            <a href="/login"><button>Login/Signup</button></a>
        {% endif %}


        </div>

    

        <div class="nextpage" id="next">
            <div class="onee">
                <img src="{{ url_for('static', filename='images/User1.jpeg') }}" alt="" id="ff" class="hru">
                <h1 class="name">HRUTHWIK M</h1>

            </div>
            <div class="twoo">
                <img src="{{ url_for('static', filename='images/User2.jpeg') }}" alt="" id="ss" class="hru">
                <h1 class="name">POOJA</h1>
            </div>
            <div class="three">
                <img src="{{ url_for('static', filename='images/User3.jpeg') }}" alt="" id="tt" class="hru">
                <h1 class="name">PRAJWAL T P</h1>
            </div>
            <div class="four">
                <img src="{{ url_for('static', filename='images/User4.jpeg') }}" alt="" id="xx" class="hru">
                <h1 class="name">GOWTHAM N</h1>

            </div>
            
        </div>

        <div class="pp">
            <p>"Have you ever been frustrated by the long queues and rush at the college print shop? We understand the hassle of waiting around, especially during breaks when everyone rushes to get their documents printed. That's why we've come up with a solution! Our new website allows students to place their print orders in advance. Simply upload your documents as PDF files, and even during busy times, you can breeze in and collect your prints without the wait. It's convenient, efficient, and saves you time when you need it most!"</p>
        </div>

        
        
         
</body>

</html>